body {
  margin-top: 100px;
  text-align: center;
}

ul {
  width: 50px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

li {
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  background: url("sprite.png");
  cursor: pointer;
}

.smile { background-position: 0 0; }
.sad   { background-position: 0 -50px; }
.hipster  { background-position: 0 -100px; }
.grin  { background-position: 0 -150px; }

.smile:hover { background-position: -50px 0; }
.sad:hover   { background-position: -50px -50px; }
.hipster:hover  { background-position: -50px -100px; }
.grin:hover  { background-position: -50px -150px; }
