body {
  margin-top: 100px;
  text-align: center;
}

.png {
  margin: 50px auto;
  width: 48px;
  height: 48px;
  background: url("images/sad.png");
}

.svg {
  margin: 50px auto;
  width: 48px;
  height: 48px;
  background: url("images/grin.svg");
}
